<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<%= form_for @user do |f| %>
	<%= f.label :fname, "First Name"%>
	<%= f.text_field :fname %>
	<%= f.label :lname, "Last Name"%>
	<%= f.text_field :lname %>
	<%= f.label :username, "Username"%>
	<%= f.text_field :username %>
	<%= f.label :password, "Password"%>
	<%= f.password_field :password %>
	<%= f.submit %>
<% end %>

<%= flash[:alert] if flash[:alert] %>
