<hr>
<%= link_to('User Home Page', "#{request.base_url}/users/#{@current.id}", :class => "btn") %>
<hr>
<h1><%= @user.fname + " " + @user.lname %></h1>
<p><%= render 'user', user: @user %></p>

<hr>
<h1>Friends</h1>
<% @user.user_friends.each do |friend| %>
 <h1><%= User.find(friend.friend_id).username %></h1>
 <%= link_to('Visit Page', "#{request.base_url}/users/#{friend.friend_id}", :class => "btn") %>
 <%= link_to('Unfollow', user_userfriend_path(@user, friend), method: :delete, :class => "btn") %>
<% end %>
<hr>
<h1><%= @user.username %></h1>

<% @user.posts.each do |post| %>
	<h1 class="post"><%= post.content %></h1>
	<%= link_to('Comment', "#{request.base_url}/users/#{@user.id}/comments?post_id=#{post.id}", :class => "btn") %>
		<% post.comments.each do |comment| %>
		 <p class="comment"><%= comment.content %></p>
		<% end %>
	<hr>
<% end %>
