<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.fname %>
<%= @user.lname %>
<br>
<%= @user.username %>
<br>
<%= flash[:notice] if flash[:notice] %>
<br>
<%= link_to('Edit', controller: 'users', action: 'edit') %>
<br>
<%= link_to('Post', controller: 'posts', action: 'index') %>
<br>
<%= link_to('Logout', controller: 'sessions', action: 'destroy') %>
<br>
<%= link_to('Delete', "/users/#{@user.id}", :method => :delete) %>
<br>
<%= @user.posts.each do |post| %>
	<%= post.content %>
	<br>
	_______________________________
	<br>
<% end %>
