<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= form_for @post do |f| %>
	<%= f.label :content, "New Post"%>
	<%= f.text_area :content %>
	<%= f.submit %>
<% end %>

<%= @posts.each do |post| %>
	<%= post.content %>
	<br>
	<hr>
	<br>
<% end %>