<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<hr>
<%= form_for [@user, @post] do |f| %>
	<%= f.label :content, "New Post"%>
	<%= f.text_area :content %>
	<%= f.submit %>
<% end %>
<br>

<% @posts.each do |post| %>
	Post: <%= post.content %>
	<%= time_ago_in_words(post.created_at) %> ago
<br>
	Comments: <% post.comments.each do |comment| %>
	<br>
		<%= comment.content %>
		<%= time_ago_in_words(comment.created_at) %> ago
	<% end %>
	<br>
	<%= link_to('Comment', "#{request.base_url}/users/#{@user.id}/comments?post_id=#{post.id}", :class => "btn") %>
<hr>
<% end %>
